<!DOCTYPE html>
<!--<!DOCTYPE html "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div class="row" th:fragment="item">
    <!--<div class="col-md-2"></div>-->
    <div class="col-xs-4 col-md-2">
        <a href="tasker_detail.html" th:href="@{/tasker/{taskerId}/details(taskerId=${tasker.id})}"
           class="thumbnail">
            <img data-holder-rendered="true"
                 src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDE3MSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MTgwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTU1YWFmMTk3OTMgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNTVhYWYxOTc5MyI+PHJlY3Qgd2lkdGg9IjE3MSIgaGVpZ2h0PSIxODAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI2MSIgeT0iOTQuOCI+MTcxeDE4MDwvdGV4dD48L2c+PC9nPjwvc3ZnPg=="
                 style="height: 180px; width: 100%; display: block;" data-src="holder.js/100%x180" alt="100%x180"/>
        </a>
    </div>
    <div class="col-md-8">
        <div class="panel panel-info">
            <!--<div class="panel-heading">-->
                <!--<h3 class="panel-title">-->
                    <!--<a href="tasker_detail.html"-->
                        <!--th:href="@{/tasker/{taskerId}/details(taskerId=${tasker.id})}"><b><span th:text="${tasker.name}"/></b>-->
                    <!--</a>-->
                    <!--<span th:text="${tasker.mainSkill}"/>-->
                <!--</h3>-->
            <!--</div>-->
            <div class="panel-body">
                <span th:text="${pendingRequest.description}"/>
                <!--<a class="btn btn-default" href="tasker_detail.html"-->
                   <!--th:href="@{/tasker/{taskerId}/details(taskerId=${tasker.id})}"-->
                   <!--role="button">...</a>-->
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

</body>
</html>